.post {
  /*height: 500px;
  width: 400px;
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 5%;
  margin: 0 auto;
  margin-top: 30px;*/
  border: 1px solid grey;
}

.post__header, .post__comments {
  padding: 15px 20px;
}

.post__img {
width: 100%;
height: auto;
/*cool trick man*/
}

.post__avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}
